
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">This is a trial app in node js</h1>
          <p class="lead">this uses <br> passport,js for authentication, <br> express js <br> handlebars</p>
          <ul class="list-unstyled">
            <li>made by abhijith</li>
            <li>{{{body}}}</li>
          </ul>
        </div>
      </div>
    </div>