<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Home Page </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/flexx.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
      <div class="flex-container">
          <img src="./images/slogo.png" style="width:25%; height:25%;">
          <div style="text-align : center; color: #ffffff;"><br><br>Sign Up</div>
          <div class="column">
            <div class="ui form">
              <div class="feild" style="margin: 10px;">
                              <h5> First Name <input type="text" name="Name" placeholder="Your First Name"></h5>
                              <h5> Last Name <input type="text" name="Name" placeholder="Your Last Name"></h5>
                              <h5> Address <input type="text" name="Name" placeholder="House Name/Building">
                              <h5>      <input type="text" name="Name" placeholder="Street"></h5>
                              <h5>    <input type="text" name="Name" placeholder="Village"></h5>
                              <h5>      <input type="text" name="Name" placeholder="Town/City"></h5>
                              <h5>      <input type="text" name="Name" placeholder="State"></h5>
                              <h5>Email Address  <input type="text" name="Name" placeholder="Your Email Address"></h5>
                              <h5> New Password<input type="password" name="Name" placeholder="Your New Password"></h5>
                              <h5> Confirm Password<input type="password" name="name" placeholder="Confirm Password"></h5>                                <h5>Phone Number <input type="tel" name="name" placeholder="Phone Number (+91)"></h5>

  </div>
</div>

  </div>
  <div tabindex="0" class="ui tiny primary animated fade button" style="width: 50%;">
      <div class="visible content"> Sign Up </div>
      <div class="hidden content"> <i class="signup icon"></i> </div>
  </div>

</div>
